body{
    background-color: black;
}

#animWrap{
    min-width: 978px;
    max-width: 1200px;
    height: 660px;
    position: relative;
    margin: auto;
    background: -webkit-radial-gradient(rgba(245, 233, 142, 0.34), rgba(86, 77, 162, 0.37), black);
}

#animWrap *{
    position: absolute;
}

/*-----Start Animation-----*/

#start{
    color: rgba( 255, 255, 255, 0.667 );
    font-family: sans-serif;
    font-size: 50px;
    top: 265px;
    left: 410px;
    opacity: 0;
    text-shadow: 0px 5px 10px rgba( 255, 255, 255, 0.667 );
    -webkit-animation: startText 8s ease-in-out;
}

@-webkit-keyframes startText{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}

#fadeIn{
    opacity: 0;
    -webkit-animation: startAnim 5s ease-in 3s forwards;
}

@-webkit-keyframes startAnim{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}
    

/*-----End Start Animation-----*/

/*-----sun-----*/

#sun{
    width: 50px;
    height: 50px;
    background: -webkit-radial-gradient(rgb(255, 141, 0), rgba(247, 228, 80, 0.88));
    border-radius: 50%;
    left: 575px;
    top: 305px; 
    box-shadow: 0px 0px 20px 20px rgba( 242, 213, 124, 0.272 );
}

#sun h6{
    left: 20px;
}

/*-----end sun-----*/

/*-----planets-----*/
.rings{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    -webkit-animation: rotateRings infinite linear;
}


@-webkit-keyframes rotateRings{
    from{
        -webkit-transform: rotate(0deg);
    }
    
    to{
        -webkit-transform: rotate(360deg);
    }
}


.planets{
    border-radius: 50%;
    -webkit-animation: rotatePlanets linear infinite normal;
}



@-webkit-keyframes rotatePlanets{
    from{
        -webkit-transform: rotate(360deg);
    }
    
    to{
        -webkit-transform: rotate(0deg);
    }
}
    

h6{
    color: rgba( 255, 255, 255, 0.511 )
}

#mercuryWrap{
    width: 70px;
    height: 70px;
    left: 565px;
    top: 295px;
    -webkit-animation-duration: 2s;
}

#mercury{
    width: 7px;
    height: 7px;
    background-color: rgb(170, 85, 0);
    left: -4px;
    top: 35px;
    -webkit-animation-duration: 2s;
}

#mercury h6{
    top: -30px;
    font-size: 9px;
}

#venusWrap{
    width: 100px;
    height: 100px;
    top: 280px;
    left: 550px;
    -webkit-animation-duration: 3s;
}

#venus{
    width: 9px;
    height: 9px;
    background-color: rgba(160, 125, 6, 0.95);
    left: 10px;
    top: 80px;
    -webkit-animation-duration: 3s;
}

#venus h6{
    top: -20px;
}

#earthWrap{
    width: 130px;
    height: 130px;
    top: 265px;
    left: 535px;
    -webkit-animation-duration: 4s;
}

#earth{
    width: 10px;
    height: 10px;
    left: 60px;
    background-color: rgba( 31, 132, 249, 0.947 );
    top: 125px;
    -webkit-animation-duration: 4s;
}

#earth h6{
    top: -38px;
}

#marsWrap{
    width: 160px;
    height: 160px;
    top: 250px;
    left: 520px;
    -webkit-animation-duration: 5s;
}

#mars{
    height: 8px;
    width: 8px;
    left: -4px;
    background-color: rgba( 242, 66, 7, 0.947 );
    top: 80px;
    -webkit-animation-duration: 5s;
}

#mars h6{
    top: -18px;
}

#jupiterWrap{
    width: 220px;
    height: 220px;
    top: 220px;
    left: 490px;
    -webkit-animation-duration: 8s;
    
}

#jupiter{
    width: 30px;
    height: 30px;
    background: -webkit-linear-gradient(rgba( 248, 247, 246, 0.659 ), rgba(95, 116, 109, 0.95), rgba( 248, 247, 246, 0.659 ), rgba(163, 239, 207, 0.95));
    top: 205px;
    left: 50%;   
    -webkit-animation-duration: 8s;
}

#jupiter h6{
    top: 4px;
}

#saturnWrap{
    width: 290px;
    height: 290px;
    top: 185px;
    left: 455px;
    -webkit-animation-duration: 10s;
}

#saturn{
    height: 27px;
    width: 27px;
    background: -webkit-linear-gradient(rgba( 245, 219, 142, 0.659 ), rgba(208, 150, 79, 0.99), rgba( 245, 219, 142, 0.659 ), rgba(175, 96, 0, 0.99) );
    top: 200px;
    left: 3px;
    -webkit-animation-duration: 10s;
}

#saturnRing{
    height: 20px;
    width: 20px;
    top: 1px;
    left: 1px;
    border: 3px solid rgba( 177, 146, 108, 0.588 );
    border-radius: 50%;
    transform: skewX(60deg);
}

#uranusWrap{
    width: 350px;
    height: 350px;
    left: 425px;
    top: 155px;  
    -webkit-animation-duration: 12s;
}

#uranus{
    height: 20px;
    width: 20px;
    background: -webkit-linear-gradient(rgba( 77, 185, 243, 0.888 ), rgba( 252, 252, 252, 0.659 ), rgba(53, 61, 240, 0.52));
    left: -10px;
    top: 175px;
    -webkit-animation-duration: 12s;
}

#uranus h6{
    top: -5px;
}

#neptuneWrap{
    width: 400px;
    height: 400px;
    top: 130px;
    left: 400px;
    -webkit-animation-duration: 14s;
}

#neptune{
    height: 22px;
    width: 22px;
    background: -webkit-linear-gradient(rgba( 252, 252, 252, 0.659 ), rgba( 31, 80, 136, 0.931 ), rgba(54, 148, 255, 0.93));
    top: 368px;
    left: 100px;
    -webkit-animation-duration: 14s;
}

#neptune h6{
    top: -2px;
}

#plutoWrap{
    width: 510px;
    height: 510px;
    top: 75px;
    left: 345px;
    -webkit-animation-duration: 18s;
}

#pluto{
    width: 4px;
    height: 4px;
    background-color: rgb(242, 175, 99);
    left: -2px;
    top: 255px;
    -webkit-animation-duration: 18s;
}

#pluto h6{
    top: -20px;
}

/*-----end planets-----*/

/*-----The End Animation-----*/

#theEnd{
    
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    top: 245px;
    left: 510px;
    opacity: 1;
    text-shadow: 0px 5px 10px white;
    opacity: 0;
    -webkit-animation: theEnd 4s ease-in 19s forwards;
}

@-webkit-keyframes theEnd{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}


#endBox{
    height: 660px;
    width: 1200px;
    background-color: black;
    opacity: 0;
    -webkit-animation: endBox 4s ease-in 20s forwards;
}

@-webkit-keyframes endBox{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}
/*-----The End Animation-----*/


