body{
    background-color: black;
}

.textBox{
    color: black;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

#sirkel{
    background-color: yellow;
}

#firkant{
    background-color: blue;
}

#default{
    background-color: red;
}

#box{
    width: 10px;
    height: 10px;
    background-color: red;
    top: 300px;
    left: 600px;
    position: relative;
    -webkit-transition: all 1s linear 0s;
}

#sirkel:target ~ #box{
    width: 400px;
    height: 400px;
    top: 170px;
    left: 390px;
    background-color: yellow;
    border-radius: 50%; 
}

#firkant:target ~ #box{
    width: 500px;
    height: 200px;
    top: 200px;
    left: 350px;
    background-color: blue;
}